<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · React演示">
      <%= assigns[:page_title] || "React Demo" %>
    </.live_title>
    <link rel="stylesheet" href={VitePhx.css_path("demos/react-demo")} />
  </head>
  <body class="bg-blue-50">
    <main class="container mx-auto py-8">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </main>
    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh"
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <%= raw(VitePhx.vite_client("demos")) %>

    <%# 使用entry_tags函数，一次性生成所有需要的资源标签 %>
    <%= raw(VitePhx.entry_javascript_tags("demos/react-demo")) %>
  </body>
</html> 